body{
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#main-header{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: burlywood;
}
#title{
    font-family: cursive, fantasy, monospace;
}
#header-photo{
    border-radius: 50%;
    width: 10%;
}
#img-div{
    text-align: center;
}
#image{
    width: 40%;
    max-width: 600px;
    text-align: center;
    display: block;
    margin: auto;
    padding: 2% 2% 0% 2%;
}
#main-content{
    text-align: justify;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid lightgray;
}
#tribute-info{
    text-align: center;
    font-size: 150%;
    border: 1px solid lightgray;
}
#moreInfo{
    width: 80%;
    margin: auto;
    padding: 1%;
    border-bottom: 1px solid lightgray;
}
footer{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 1%;
    font-size: 60%;
}